<h1>Editing product</h1>

<%= render "form", product: @product %>

<br>

<div>
  <%= link_to "Show this product", [@cart, @product] %> |
  <%= link_to "Back to products", cart_products_path(@cart) %>
</div>
